.T_VirtualGridDiv_HeaderColumn {
    /* margin-left: 0px!important;
    margin-right: 0px; */
}

.virtualGridTableDiv{
    padding: 10px 10px;
    outline: none;
}

.T_VirtualGridDiv_HeaderColumn, .T_VirtualGridDiv_RowColumn {
    padding: 0px 2px;
    overflow-x: visible;
    outline: none;
}

.ReactVirtualized__Table__Grid {
    outline: none;
}

.ReactVirtualized__Table__sortableHeaderIcon{
    display: none;
}

.searchDivClassName{
    margin: 10px 0px;
    text-align: center;
}
.searchInputClassName{
    border: none;
    border-bottom: 2px solid gray;
    outline: none;
    padding: 2px;
}
